$black: #000;
$black1: #0c0e0f;
$black2: #4148ff00;
$black3: #0b1519;

$white: #fff;

$grey: #ccc;
$grey1: #c4c4c4;

$blue: #294dfa;
$blue1: #1d284a;
$blue2: #3962b4;
$blue3: #4267b2;
$blue4: #1da1f2;
$blue5: #4148ff;

$pink: #e81a5f;
$pink1: #e1306c;

$purple: #6a0dad;
