.container {
  padding: 20px 20px;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: none;
  width: fit-content;
  // height: 45px;

  &:focus {
    outline: 0;
  }

  &:hover {
  }

  &:active {
    transform: scale(0.99) !important;
  }
}

.deny {
  background-color: #a4a4a4;
}

.accept {
  background-color: #fff;
  color: #0b1519;
}
