.container {
  margin-bottom: 5px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  margin-top: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-color: #ffffff;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
  }

  &:hover {
    // opacity: 0.5;
    // background-color: #000000;
    // color: #ffffff;
    // text-decoration: none;
  }

  &:active {
  }
}
