.services {
  overflow: hidden;
  position: relative;
  z-index: 3;
  padding: 0px 50px;

  .eclipse {
    position: absolute;
    right: -150px;
    top: -150px;
    border-radius: 450px;
    background-image: radial-gradient(
      50% 50% at 50% 50%,
      #4148ff 0%,
      rgba(65, 72, 255, 0) 100%
    );
    z-index: -1;
    width: 400px;
    height: 400px;
  }

  .caption {
    color: #0b1519;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-gap: 16px;

    .card {
      width: 100%;
      height: 370px;
      margin: auto;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background-color: #f5f5f5;
      padding: 40px 20px;

      span {
        color: #0b1519;
        font-size: 16px;
        font-weight: 400;
        opacity: 0.5;
        display: flex;
        justify-content: center;
      }

      .title {
        display: flex;
        width: 100%;
        margin: auto;
        opacity: 1;
        font-size: 30px;
        font-weight: 500;
        justify-content: center;
      }

      .images {
        margin-bottom: 10px;
        margin-top: 5px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 16px;
        }
      }

      .details {
        display: flex;
        color: #0b1519;
        font-family: Roboto Flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.16px;
      }
    }
  }
}

@media only screen and (max-width: 875px) {
  .services {
    padding: 0px 30px;

    .content {
      display: grid;
      grid-template-rows: repeat(4, 270px);
      grid-template-columns: repeat(2, 275px);
      justify-content: center;

      .card {
        width: 100%;
        height: 270px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #f5f5f5;
        padding: 30px 10px;
        justify-content: flex-start;

        .title {
          display: flex;
          font-size: 20px;
        }
        span {
          display: flex;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .services {
    padding: 0px 30px;

    .content {
      display: grid;
      grid-template-rows: repeat(8, 320px);
      grid-template-columns: repeat(1, 375px);

      .card {
        width: 100%;
        height: 315px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #f5f5f5;
        padding: 10px 10px 20px 10px;
        justify-content: flex-start;

        .title {
          display: flex;
          font-size: 20px;
        }
        span {
          display: flex;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .services {
    padding: 0px 30px;

    .content {
      display: grid;
      grid-template-columns: repeat(1, 240px);

      .card {
        width: 100%;
        height: 270px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #f5f5f5;
        padding: 30px 10px;
        justify-content: flex-start;

        .title {
          display: flex;
          font-size: 20px;
        }

        span {
          display: flex;
        }
      }
    }
  }
}
