.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;

  .pages {
    display: flex;

    li {
      margin-right: 16px;
      border-radius: 16px;
      background-color: #0c0e0f;
      padding: 16px;
      color: #fff;
      cursor: pointer;

      &:last-child {
        margin-right: 0px;
        background-color: #294dfa;
      }
    }
  }
}

@media (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    .content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    .content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
