.container {
  display: flex;
  justify-content: center;
}
.title {
  position: absolute;
  width: 276px;
  height: 51px;
  left: 71px;
  top: 55px;
  /* flex-shrink: 0; */
  /* fill: var(--Primary-Color-Blue, #145389); */
  color: #145389;
  /* background: #145389; */
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  padding: 0px;
  gap: 16px;
  width: 556px;
  height: 42px;
  /* top: 56px; */
  /* left: 1308px; */
  gap: 16px;
  right: 100px;
  top: 70px;
}
