.container {
  text-align: center;
  margin-bottom: 120px;

  .staff {
    display: flex;
    flex-direction: row;
    .title {
      font-family: "Roboto Flex";
      font-style: normal;
      font-size: 48px;
      font-weight: 800;
      line-height: 60px;
      letter-spacing: 0.96px;
      text-transform: uppercase;
      color: #0b1519;
    }
    .text {
      float: right;
      text-align: right;
      font-family: "Roboto Flex";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      color: #0b1519;
    }
  }
  .content {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 25px 10px;
    cursor: pointer;
    .work {
      position: relative;
      width: 333px;
      height: 333px;
      .span {
        position: relative;
        display: flex;
        top: 360px;
        padding: 5px;
      }
    }
  }
}
