@import "../../../assets/styles/variable.scss";

.container {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
  padding: 50px 50px 0px 70px;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20px;
  padding: 0 10px;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;

  .images {
    cursor: pointer;
  }

  .pages {
    display: flex;

    .link {
      margin-right: 16px;
      border-radius: 16px;
      background-color: $black1;
      padding: 16px;
      color: $white;
      cursor: pointer;

      &:last-child {
        margin-right: 20px;
        background-color: $blue;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin-top: 30px;

    .pages {
      .link {
        margin-right: 16px;
        border-radius: 16px;
        background-color: $black1;
        padding: 16px;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 10px;

    .pages {
      padding: 0 5px;

      .link {
        margin-right: 7px;
        border-radius: 16px;
        background-color: $black1;
        padding: 8px;
        color: $white;
        cursor: pointer;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    margin-top: 10px;

    .pages {
      padding: 0 5px;

      .link {
        margin-right: 7px;
        border-radius: 16px;
        background-color: $black1;
        padding: 5px;
        color: $white;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}
