@import "../../../common/assets/styles/variable.scss";

.container {
  width: 100%;
  position: relative;
  height: 700px;

  .sliderImages {
    transition: all 250ms ease-in-out;
  }

  .arrowLeft {
    position: absolute;
    left: 100px;
    bottom: 75px;
    padding: 12px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      filter: brightness(0) saturate(100%) invert(17%) sepia(76%)
        saturate(6626%) hue-rotate(356deg) brightness(92%) contrast(96%);
    }
  }

  .arrowRight {
    position: absolute;
    padding: 12px;
    left: 200px;
    bottom: 75px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $grey;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      filter: brightness(0) saturate(100%) invert(17%) sepia(76%)
        saturate(6626%) hue-rotate(356deg) brightness(92%) contrast(96%);
    }
  }

  .content {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    bottom: 0;
    flex-direction: row;
    margin-bottom: 10px;

    .slider {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: auto;

      .dots {
        font-size: 24px;
        line-height: 32px;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin: 15px 7px 0px;
        background-color: $grey1;
      }

      .active {
        background-color: $purple;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .arrowLeft {
      left: 14px;
      bottom: 5px;
    }

    .arrowRight {
      left: 90px;
      bottom: 5px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .container {
    .arrowLeft {
      left: 14px;
      bottom: 5px;
    }

    .arrowRight {
      left: 90px;
      bottom: 5px;
    }
  }
}
