.container {
  position: relative;
  margin-bottom: 60px;

  .sliderImages {
    all: unset !important;
    position: absolute;
    width: 500px;
    height: 500px;
  }

  .arrowLeft {
    position: absolute;
    left: 0;
    padding: 8px;
    border-radius: 9999px;
    font-size: 24px;
    color: #e41111;
    cursor: pointer;
    top: 500px !important;
  }

  .arrowRight {
    position: absolute;
    right: 0;
    padding: 8px;
    border-radius: 9999px;
    font-size: 24px;
    color: #e41111;
    cursor: pointer;
    top: 500px !important;
  }

  .slider {
    display: flex;
    top: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;

    .dots {
      font-size: 24px;
      line-height: 32px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 510px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    // margin-top: 100px;
    // margin-left: 212px;

    // width: 250px;
    // height: 250px;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // margin-bottom: 0;
    .arrowLeft {
      position: absolute;
      /* margin-right: -6px; */
      left: -73px;
      padding: 8px;
      border-radius: 9999px;
      font-size: 24px;
      color: #e41111;
      cursor: pointer;
      top: 120px !important;
    }
    .arrowRight {
      position: absolute;
      /* margin-right: -6px; */
      right: -68px;
      padding: 8px;
      border-radius: 9999px;
      font-size: 24px;
      color: #e41111;
      cursor: pointer;
      top: 120px !important;
    }
  }
}
